body {
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
}

.settings {
    padding: 20px;
    background-color: #00c3ff;
    border-bottom: 1px solid #00bbff;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.settings > * {
    margin-right: 10px;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ff00bf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00c3ff;
    box-sizing: border-box;
}

#taskList {
    list-style: none;
    padding: 0;
}

#taskList li {
    padding: 10px;
    border-bottom: 1px solid #ff00bf;
    cursor: pointer;
    position: relative;
}

.close {
    color: red;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}

.completed {
    text-decoration: line-through;
    color: rgb(225, 32, 158);
}

.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode #taskList li {
    border-bottom: 1px solid #555;
}